* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--neon-green: #2ecc71;
	--blue: #3498db;
}

body {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	background-color: #34495e;
	font-family: "Roboto", sans-serif;
}

.fa-solid {
	pointer-events: none;
}

.container {
	width: 1024px;
	background-color: white;
	box-shadow: 12px 12px 12px rgba(56, 52, 52, 0.7);
	border-radius: 6px;
	text-align: center;
}

header {
	background-color: #191919;
	padding: 60px;
	border-radius: 6px;
}

header h1 {
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.task-input {
	width: 50%;
	border: none;
	background-color: transparent;
	outline: none;
	border: 3px solid var(--blue);
	padding: 15px;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	color: white;
	transition: 0.3s;
}

.task-input:focus {
	width: 70%;
	border: 3px solid var(--neon-green);
}

.button-add {
	border: none;
	background-color: transparent;
	margin-left: 50px;
	text-align: center;
	border: 3px solid var(--neon-green);
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	padding: 15px 30px;
	cursor: pointer;
	transition: 0.3s;
	font-weight: bold;
}

.button-add:hover {
	background-color: var(--neon-green);
	font-size: 15px;
}

.tasks-list {
	padding: 30px 0;
}

.tasks-list h2 {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.tasks-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	padding-left: 20px;
	border-radius: 5px;
	text-align: left;
	list-style: none;
	font-size: 18px;
	background-color: rgb(221, 221, 221);
}

.tools {
	display: inline-block;
}

.error {
	color: red;
}

.tools button {
	padding: 15px 20px;
	font-size: 18px;
	border: none;
	background: none;
	cursor: pointer;
	transition: 0.3s;
}

.complete {
	color: var(--neon-green);
}

.complete:hover {
	color: rgb(59, 141, 20);
}

.edit {
	color: var(--blue);
	text-transform: uppercase;
	font-weight: 700;
}

.edit:hover {
	color: rgb(61, 73, 236);
}

.delete {
	color: tomato;
}

.delete:hover {
	color: red;
}

.completed {
	text-decoration: line-through;
	font-style: italic;
}

.edit-window {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 1024px;
	background-color: #191919;
	border-radius: 6px;
	padding: 50px;
}

.edit-window h2 {
	padding: 20px;
	color: white;
}

.edit-window-info {
	color: white;
	margin-bottom: 20px;
}

.edit-window-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	padding: 10px;
}

.edit-input {
	width: 85%;
	border: none;
	background-color: transparent;
	outline: none;
	border: 3px solid var(--blue);
	padding: 15px;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	color: white;
	transition: 0.3s;
}

.edit-input:focus {
	width: 100%;
	border: 3px solid var(--neon-green);
}

.edit-btn {
	border: none;
	background-color: transparent;
	margin-left: 20px;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	padding: 15px 30px;
	cursor: pointer;
	margin-top: 20px;
	transition: 0.3s;
}

.accept {
	border: 3px solid var(--neon-green);
}

.accept:hover {
	background-color: var(--neon-green);
	font-weight: bold;
}

.cancel {
	border: 3px solid red;
}

.cancel:hover {
	background-color: red;
	font-weight: bold;
}
